
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  background-color: #373b3d;
  font-family: 'ubuntu';
  color: white;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 25px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
}

h3 {
  color: #de2672;
  font-size: 14px;
}

button {
  background-color: #373b3d;
  border-color: white;
  color: rgb(229, 42, 114);
  border-radius: 50%;
  text-decoration: none;
  border: none;
}

.app {
    background: #373b3d;
    height: 100vh;
    /* padding: 30px; */
    /* display: flex;
    justify-content: center; */
  }
  
  .todo-list {
    background: #373b3d;
    border-radius: 4px;
    max-width: 500px;
    padding: 5px;
  }
  
  .todo {
    color: white;
    align-items: center;
    background: #373b3d;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(245, 243, 243, 0.15);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
  }